<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title><%= block.name %> Class</title>
        <style type="text/css" media="screen">
            body {
                font-family : sans-serif;
            }
            h2{
                border-bottom : solid 1px #999999;
            }
            h3, h4{
                border-bottom : dotted 1px #999999;
            }
            h4{
                margin-left : 2em;
            }
            
            
            #attributes-section,
            #methods-section{
                padding-left : 2em;
            }
            
            .argument-section,
            .return-section{
                padding-left : 4em;
            }
            
            .attribute .flags,
            .method .flags,
            .argument .flags{
                font-style : italic;
            }
        </style>
    </head>
    <body>
        <h1><%= block.name %></h1>
        <p><%= block.description %></p>
        <% block.examples.each do |example| %>
            <%= example %>
        <% end %>
        
        <h2>Attributes</h2>
        <div id="attributes-section">
            <div class="attributes-summary">
            <% block.attributes.each do |attribute, index| %>
                <a href="#attribute-<%= index %>"><%= attribute.name %></a>
            <% end %>
            </div>
            <% block.attributes.each do |attribute, index| %>
            <div id="attribute-<%= index %>" class="attribute">
                <h3><%= attribute.name %></h3>
                <p>
                    <span class="flags"><%= (attribute.flags || '').split(',').join(' ') %></span>
                    <span class="type"><%= attribute.types || 'Object' %></span
                    >:<span class="name"><%= attribute.name %></span
                    ><span style="font-family:monospace"><%= "=#{attribute.code}" if attribute.code %></span>
                </p>
                <p><%= attribute.description %></p>
            </div>
            <% end %>
        </div>
        <h2>Methods</h2>
        <div id="methods-section">
            <div class="methods-summary">
            <% block.methods.each do |method, index| %>
                <a href="#method-<%= index %>"><%= method.name %></a>
            <% end %>
            </div>
            <% block.methods.each do |method, index| %>
            <div id="method-<%= index %>" class="attribute">
                <h3><%= method.name %></h3>
                <p>
                    <span class="flags"><%= (method.flags || '').split(',').join(' ') %></span>
                    <span class="type"><%= method.types || method.returns.map(&:types).join('|') %></span
                    >:<span class="name"><%= method.name %></span
                    >(<span class="arguments"><%= method.arguments.map(&:name).join(', ') %></span>)
                    <span style="font-family:monospace"><%= "=#{method.code}" if method.code %></span>
                </p>
                <p><%= method.description %></p>
                
                <h4>Arguments</h4>
                <div class="argument-section">
                    <% method.arguments.each do |argument| %>
                    <h5><%= argument.name %></h5>
                    <p>
                        <span class="flags"><%= (argument.flags || '').split(',').join(' ') %></span>
                        <span class="type"><%= argument.types || 'Object' %></span
                        >:<span class="name"><%= argument.name %></span
                        ><span style="font-family:monospace"><%= "=#{method.code}" if argument.code %></span>
                    </p>
                    <p><%= method.description %></p>
                    <% end %>
                </div>
                <h4>Return</h4>
                <div class="return-section">
                    <% method.returns.each do |tag| %>
                    <h5><%= tag.name %></h5>
                    <p>
                        <span class="flags"><%= (tag.flags || '').split(',').join(' ') %></span>
                        <span class="type"><%= tag.types || 'Object' %></span
                        ><span class="name"><%= tag.name %></span
                        ><span style="font-family:monospace"><%= "=#{tag.code}" if tag.code %></span>
                    </p>
                    <p><%= tag.description %></p>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </body>
</html>